# build dnd test dirs
build/*
.tox/*
.cache/*
doc/.doctrees
src/mlmc.egg-info/*

# PyCharm IDE
.idea/*

# various swap files
*.swp

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

doc/Bproject.pdf

# test results
test/01_*/sim_*
test/01_*/output/*
