# --- Documentation dependencies ---
sphinx>=7.0
sphinx-rtd-theme
sphinx-autodoc-typehints
sphinxcontrib-napoleon
myst-parser
nbsphinx
sphinx_copybutton

# --- MLMC runtime dependencies ---
numpy
scipy
scikit-learn
h5py>=3.1.0
ruamel.yaml==0.17.26
attrs
gstools
memoization